@import 'tailwindcss';

:root {
  --background-color: #fbf8ef;
  --board-bg: #bbaea0;
  --primary-color: #ec995b;
  --primary-color-dark: #e88f4f;
  --text-color: #776e65;
}

.bg-board-bg {
  background-color: var(--board-bg);
}